<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zte.test.irrapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:glEsVersion="0x00020000" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="examples.ExampleList"
            android:label="@string/app_name" >
	        <intent-filter>
	                <action android:name="android.intent.action.MAIN" />
	
	                <category android:name="android.intent.category.LAUNCHER" />
	        </intent-filter>
        </activity>
        <activity
            android:name="examples.e01gettingstart.EGettingStart"
            android:label="@string/title_activity_egetting_start" >
        </activity>
        <activity
            android:name="examples.e02config.EConfig"
            android:label="@string/title_activity_econfig" >
        </activity>
        <activity
            android:name="examples.e03transform.ETransAndHier"
            android:label="@string/title_activity_etrans_and_hier" >
        </activity>
        <activity
            android:name="examples.e04animator.EAnimator"
            android:label="@string/title_activity_eanimator" >
        </activity>
        <activity
            android:name="examples.e05draw2D.EDraw2D"
            android:label="@string/title_activity_edraw2_d" >
        </activity>
        <activity
            android:name="examples.e06camera.ECamera"
            android:label="@string/title_activity_ecamera" >
        </activity>
        <activity
            android:name="examples.e07bitmap.EBitmap"
            android:label="@string/title_activity_ebitmap" >
        </activity>
        <activity
            android:name="examples.e08lighting.ELighting"
            android:label="@string/title_activity_elighting" >
        </activity>
        <activity
            android:name="examples.e09collision.ECollision"
            android:label="@string/title_activity_ecollision" >
        </activity>
        <activity
            android:name="examples.e10mediaplayer.EMediaPlayer"
            android:label="@string/title_activity_emedia_player" >
        </activity>
        <activity
            android:name="examples.e11billboard.EBillboard"
            android:label="@string/title_activity_ebillboard" >
        </activity>
        <activity
            android:name="examples.e12ps.EParticleSystem"
            android:label="@string/title_activity_eparticle_system" >
        </activity>
        <activity
            android:name="examples.e13cubelayout.ECubelayout"
            android:label="@string/title_activity_ecubelayout" >
        </activity>
        <activity
            android:name="examples.e15memory.EMemory"
            android:label="@string/title_activity_ememory" >
        </activity>
        <activity
            android:name="examples.e14material.EMaterial"
            android:label="@string/title_activity_ematerial" >
        </activity>
        <activity
            android:name="examples.e16nodemgr.ENodeMgr"
            android:label="@string/title_activity_enode_mgr" >
        </activity>
        <activity
            android:name="examples.e17bbox.EBoundingBox"
            android:label="@string/title_activity_ebounding_box" >
        </activity>
        <activity
            android:name="examples.e18psextension.EPSExtension"
            android:label="@string/title_activity_eps_extension" >
        </activity>
        <activity
            android:name="examples.e19cameraswitch.ECameraSwicth"
            android:label="@string/title_activity_ecamerawwicth" >
        </activity>
        <activity
            android:name="examples.e20skydome.ESkyDome"
            android:label="@string/title_activity_eskydome" >
        </activity>
        <activity
            android:name="examples.TestActivity"
            android:label="@string/title_activity_test" >

        </activity>
        <activity
            android:name="examples.e21animatedmesh.EAnimateMesh"
            android:label="@string/title_activity_eanimate_mesh" >
        </activity> 
    </application>

</manifest>
